*
{
    margin: 0;
    padding: 0;
}
.heading-top
{
    width: 100%;
    height:80px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Inspiration', cursive;
    font-size: 25px;
}
#heading
{
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
    font-family: 'Jost', sans-serif;
    color:#eae7dc;
    text-align: center;
    padding: 300px;
    font-size: 40px;
}
.header
{
    max-width: 100%;
    height: auto;
    width: auto\9;
    background-image: url("https://i.ibb.co/L5J2XZW/Header-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}